body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:darkgoldenrod ;
}
li{
    text-decoration: none;
    margin: 10px;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
nav ul{
    display: flex;
    flex-direction: row-reverse;
    padding: 15px;
    margin-top: 0;
}
.header{
    background-color: brown;
}